/*Algunas cosas para que sea en general*/
body{
	font-family: arial;
}
/*Este es para la primer tabla*/
table thead th{
	text-transform: uppercase;
	text-decoration: none;}

/*Solamente los h2*/
h2{
	font-size: 1.5em;
}
/*Estos es para el hr (una linea larga nomás)*/
hr{
	padding: 1px;
	background-color: red;}
/*Esto para las imagenes*/
#tamañoImagen img{
	width: 150px;
	height: 150px;
	border-radius: 75px 75px 75px 75px;
	border-style: double;
}
/*Lo que esta en el footer*/
